<div *ngIf="movies.length>0; else no_movies">
    <h1>{{title}}</h1>
    <div class="alert alert-warning" *ngIf="movies.length>0">
        {{movies.length}} movie found.
    </div>

    <div class="mb-3">
        <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search">
        <small class="text-muted" *ngIf="filterText!=''">Word You've Searched: {{filterText}} </small>
    </div>

    <ng-template [ngTemplateOutlet]="moviesList2" [ngTemplateOutletContext]="{movies:popularMovies}"></ng-template> <!--iF we want to send data from outside then we have to write [ngTemplateOutletContext]="{<list or to be sent argument>}"-->
    <ng-template [ngTemplateOutlet]="moviesList1"></ng-template> <!--If we want to recall the template we have specified below, we just enough to write [ngTemplateOutlet="moviesList1"] -->
</div>

<ng-template #no_movies>
    <div class="alert alert-warning">
        Movie not found.
    </div>
</ng-template>


<ng-template #moviesList1>
    <div class="card mb-3" *ngFor="let item of movies | movieFilterPipe:filterText">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/{{item.imageUrl}}" class="img-fluid rounded-start"> <!--I wrote this img fluid because if pictures bigger than column, picture fit inside place that it has been. Rounded-start is the rounding the left side of the picture.-->
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">{{item.title}}</h2>
                <p class="card-text">{{item.description | summary : 20}}</p>
                <button class="btn-sm btn-outline-primary">Details</button>
                <button (click)="addToList($event,item)" style="margin-left:10px;" class="btn-sm btn-primary">Add to Favorite List</button>
            </div>
        </div>
    </div>
    </div>
</ng-template> <!--Let's we say we have a template in here-->


<ng-template #moviesList2 let-incomingMovies="movies">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col" *ngFor="let item of incomingMovies">
            <div class="card h-100">
                <img src="/assets/img/{{ item.imageUrl }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description | summary : 20}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template> <!--Let's we say we have a template in here-->

<!-- <h1>Date Pipes</h1> Angular pipes is provide a transform variables to defined template format. Here you can find some examples at below. You will see fullDate format as english. We can localize this format but we have to install one package to our project with this CLI command==> ng add @angular/localize. After this installation we should go to angular.json file after that under the project name property we have to add this code line ==> 
    "i18n":{
"sourcelocale":"tr"
}
-->
<!-- <p>{{today}}</p>
<p>{{today | date}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'medium'}}</p>
<p>{{today | date:'shortTime'}}</p>
<p>{{today | date:'h:mm:ss'}}</p>

<h1>Decimal Pipes</h1>
<p>{{2.23456346 | number}}</p>
<p>{{2.23456346 | number:'2.0-3'}}</p>
<p>{{2.23456346 | number:'4.1-7'}}</p>

<h1>Currency Pipes</h1>
<p>{{100|currency}}</p>
<p>{{100|currency:'EUR'}}</p>
<p>{{100|currency:'TRY'}}</p>

<h1>Percent Pipes</h1>
<p>{{0.259 | percent}}</p>
<p>{{1.26 | percent:'2.2-4'}}</p>
<p>{{3/4 | percent}}</p> -->
